*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coffeeMachine{
    width: 1500px;
    height: 800px;
    background-color: #232323;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.pannel{
    width: 300px;
    height: 90%;
    background-color: #D9D9D9;
}
.mainPart{
    width: 678px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mainPart .display{
    width: 100%;
    height: 345px;
    background-color: #4F4F4F;
    display: flex;
    justify-content: center;
}
.mainDisplay{
    width: 90%;
    height: 90%;
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loaderContainer{
    width: 80%;
    height: 20px;
    background-color: #999;
}
.loaderInner{
    width: 0%;
    height: 100%;
    background-color: royalblue;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loaderValue{
color: #fff;
font-size: 12px;
}
.importantButton{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.startButton{
    width: 50px;
    height: 50px;
    background-color: rgb(101, 253, 0);
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.endButton{
    width: 50px;
    height: 50px;
    background-color: rgb(201, 4, 4);
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.buttonGroup{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 0;
    padding: 0px 20px;
}
.glassePart{
    width: 100%;
    height: 455px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 50px solid #4F4F4F;
}
.waterLine{
    width: 50px;
    height: 60px;
    background-color: #000;
    position: absolute;
    z-index: 2;
}
.glasse{
    width: 250px;
    height: 300px;
    z-index: 2;
    position: absolute;
    background-image: url(./img/Glasse.svg);
    background-size: cover;
    margin-top: 110px;
    transition: 1s;
}
.water{
    position: absolute;
    z-index: 1;
    background-color: chocolate;
    width: 20px;
    height: 50px;
    transition: 1s;
}
.addWater{
    width: 150px;
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.addWater p{
    font-size: 24px;
    color: #fff;
}
.addWaterBtnGroup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.addwaterBtn{
    border: none;
    color: #999;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.minusWater{
    border: none;
    color: #999;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.waterValue{
    width: 150px;
    height: 100%;
    background-color: #D9D9D9;
    font-size: 24px;
    border: none;
    color: #000;
    display: flex;
    flex-wrap: wrap-reverse;
}
.waterCup{
    width: 100%;
    height: 20%;
    background-color: royalblue;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Value{
    font-size: 20px;
    color: #fff;
    transition: 1s;
}